# Nothing Outside of Project Folders
*

!docs/
!docs/**

!cloudflare-worker/
!cloudflare-worker/**

# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
coverage

# Worker specific
.wrangler
worker/

# Generated data
docs/data.json
